{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    {{ template "create-contact" .FormData }}
    <hr>    
    {{ template "contact-list" .Data }}    
</body>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.body.addEventListener('htmx:beforeSwap', function (evt) {
            if (evt.detail.xhr.status == 422) {
                evt.detail.shouldSwap = true;
                evt.detail.isError = false;
            }
        })
    });
</script>
</html>
{{ end }}

{{ block "create-contact" . }}  
    <form hx-post="/contacts" hx-swap="outerHTML">        
        name: <input {{ if .Values.name }}value="{{ .Values.name }}"{{ end }}
        type="name" name="name">

        email: <input {{ if .Values.email }}value="{{ .Values.email }}"{{ end }}
        type="email" name="email">

        {{ if .Errors.email }}
            <div style="color: red;"> {{ .Errors.email }}</div>    
        {{ end }}

        <button type="submit">Create Contact</button>
    </form>
{{ end }}

{{ block "contact-list" . }}
    <div id="contact-list" style="display: flex; flex-direction: column;">
        {{ range .Contacts }}        
            {{ template "contact" . }}        
        {{ end }}
    </div>
{{ end }}

{{ block "contact" . }}
<div class="contact" id="contact-{{ .Id  }}" style="display: flex;">
    <div 
    hx-indicator="#ci-{{ .Id }}" 
    hx-swap="outerHTML swap:500ms" 
    hx-target="#contact-{{ .Id }}" 
    hx-delete="/contact/{{ .Id  }}" 
    style="width: 1rem; cursor: pointer">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" width="24"
            height="24" fill="currentColor">
            <path d="M3 6h18v2H3z" />
            <path d="M8 6V4c0-1.1.9-2 2-2h4c1.1 0 2 .9 2 2v2h5v2H3V6h5zm2-2h4V4H10v2zM5 8h14l-1 12H6L5 8zm3 2h8v10H8V10z" />
        </svg>
    </div>
    Name: <span>{{ .Name }}</span> 
    Email <span>{{ .Email }}</span>
    <div id="ci-{{ .Id }}" class="htmx-indicator">
        <img src="/images/bars.svg" alt="loading" style="width: 1rem;">
    </div>
</div>
{{ end }}

{{ block "oob-contact" . }}
<div id="contact-list" hx-swap-oob="afterbegin">
    {{ template "contact" . }}
</div>
{{ end }}