{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <title>Document</title>
</head>
<body>
    {{ template "create-contact" . }}
    <hr>
    <div id="contact-list">
        {{ template "contact-list" . }}
    </div>
</body>
</html>
{{ end }}

{{ block "create-contact" . }}  
    <form>        
        name: <input type="name" name="name">
        email: <input type="email" name="email">
        <button type="submit" hx-post="/contacts" hx-target="#contact-list">Create Contact</button>
    </form>
{{ end }}

{{ block "contact-list" . }}
    <div style="display: flex; flex-direction: column;">
        <ul>
            {{ range .Contacts }}
                <li>{{ .Name }} - {{ .Email }}</li>
            {{ end }}
        </ul>
    </div>
{{ end }}